body{
   margin: 0;
   padding: 0;
   }
    
.container{
   display: flex;
   }
  
nav{
   background-color: pink;
   width: 50vh;
   }
    
header,footer{
   background-color: khaki;
   height: 20vh;
   }
    
.isi{
   display: flex;
   height: 50vh;
   }
    
article{
   background-color: beige;
   width: 100vh;
   }
    
aside{
   background-color: aquamarine;
   width: 60vh;
   }
  
header, footer, article, nav, aside{
  padding: 1em;
   }